{
	"presets": [
		[ "@babel/preset-env", { "targets": { "node": 6 } } ],
		"@babel/preset-react"
    ],
	"plugins": [
		"@babel/plugin-transform-object-rest-spread",
		"@babel/plugin-transform-flow-strip-types",
		"@babel/plugin-transform-async-to-generator"
	],
	"env": {
		"test": {
			"presets": ["@babel/preset-env"]
		},
		"development": {
			"plugins": [ "react-hot-loader/babel" ]
		}
	}
}
